body {
    .footer {
        height: none;
        background-color: $beige;
        .to-top-page {
            img {
                z-index: 999;
                background-color: transparentize($text-white, 0.4);
                backdrop-filter: blur(2px);
                -webkit-backdrop-filter: blur(2px);
                position: fixed;
                @include subhead-icon;
                display: inline-block;
            }
        }
    }

    /* Footer's position depedning on viewport's width and height */
    @media only screen and (max-width: 479px) and (max-height: 700px) {
        .footer {
            .to-top-page {
                img {
                    width: 40px;
                    height: 40px;
                    bottom: 5vh;
                    left: 2vw; 
                }
            }
        }
    }
    @media only screen and (max-width: 479px) and (min-height: 701px) and (max-height: 790px) {
        .footer {
            .to-top-page {
                img {
                    width: 40px;
                    height: 40px;
                    bottom: 13vh;
                    left: 2vw; 
                }
            }
        }
    }

    @media only screen and (min-width: 479px) and (max-height: 790px) {
        .footer {
            .to-top-page {
                img {
                    width: 40px;
                    height: 40px;
                    bottom: 10vh;
                    left: 2vw; 
                }
            }
        }
    }

    @media only screen and (min-width: 479px) and (min-height: 791px) and (max-height: 814px) {
        .footer {
            .to-top-page {
                img {
                    width: 40px;
                    height: 40px;
                    bottom: 23vh;
                    left: 2vw; 
                }
            }
        }
    }

    @media only screen and (max-width: 479px) and (min-height: 815px) and (max-height: 840px) {
        .footer {
            .to-top-page {
                img {
                    width: 40px;
                    height: 40px;
                    bottom: 2vh;
                    left: 2vw; 
                }
            }
        }
    }
    @media only screen and (max-width: 479px) and (min-height: 841px) and (max-height: 880px) {
        .footer {
            .to-top-page {
                img {
                    width: 40px;
                    height: 40px;
                    bottom: 25vh;
                    left: 2vw;    
                }
            }
        }
    } 

    @media only screen and (max-width: 479px) and (min-height: 881px) {
        .footer {
            .to-top-page {
                img {
                    width: 40px;
                    height: 40px;
                    bottom: 28vh;
                    left: 2vw;    
                }
            }
        }
    } 

    @media only screen and (min-width: 480px)and (max-width: 660px) {
        .footer {
            .to-top-page {
                img {
                    width: 45px;
                    height: 45px;
                    bottom: 2vh;
                    left: 1vw;    
                }
            }
        }
    } 
    @media only screen and (min-width: 661px) and (max-width: 900px) {
        .footer {
            .to-top-page {
                img {
                    width: 45px;
                    height: 45px;
                    bottom: 2vh;
                    left: 2vw;    
                }
            }
        }
    } 
    @media only screen and (min-width: 661px)  and (max-width: 900px) and (min-height: 801px) and (max-height: 1100px) {
        .footer {
            .to-top-page {
                img {
                    width: 47px;
                    height: 47px;
                    bottom: 35vh;
                    left: 2.5vw;    
                }
            }
        }
    }

    @media only screen and (min-width: 661px)  and (max-width: 900px) and (min-height: 801px) and (min-height: 1101px) {
        .footer {
            .to-top-page {
                img {
                    width: 47px;
                    height: 47px;
                    bottom: 45vh;
                    left: 2.5vw;    
                }
            }
        }
    }

    @media only screen and (min-width: 901px) and (max-height: 800px) {
        .footer {
            .to-top-page {
                img {
                    width: 47px;
                    height: 47px;
                    bottom: 2.5vh;
                    left: 2.5vw;    
                }
            }
        }
    }
    @media only screen and (min-width: 901px) and (min-height: 801px) {
        .footer {
            .to-top-page {
                img {
                    width: 47px;
                    height: 47px;
                    bottom: 52vh;
                    left: 2.5vw;    
                }
            }
        }
    }
}