
$home-bg-color: #9c9e9fab;
$bg-body: #eff8fb;
$beige: #f5f1ea;
$grey: #D8D8D8;

$acqua: rgb(51, 121, 141);
$light-blue: rgb(159,197,232);
$blue: rgb(48,99,142);
$blue-lila: #BCCEF8;

$yellow: #e8b437;
$green: #4c963d;
$orange: #FF9757;
$raspberry: #A62349;
$pale-yellow: #FFD372;

$salmon: rgb(209,73,91);
$fucsia: rgb(153, 76, 167);

$deep-purple: rgb(56,44,155);
$purple: rgb(102, 95, 171);

$black: #302f2fdc;
$text-black: $black;

$text-white: #eeedefeb;
$white: rgb(212, 211, 199);
$white-lime: #b4d6e1;
$white-transparent: rgba(249, 246, 246, 0.657);

$pole-color: linear-gradient($salmon, $blue) 25 60;
$shadow: 8px 8px 10px darken($beige, 15), -6px -6px 10px darken($beige, 15);