@font-face {
    font-family: "fs";
    src: url(../font/fs/FS/Me-Light.otf) format(otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "fs";
    src: url(../font/fs/FS/Me-Bold.otf.otf) format(otf);
    font-weight: 700;
}

@font-face {
    font-family: "fs";
    src: url(../font/fs/FS/Me-Italic.otf.otf) format(otf);
    font-weight: 300;
    font-style: italic;
}

@font-face { /* stronger, super bold */
    font-family: "fs";
    src: url(../font/fs/FS/Me-Heavy.otf.otf.otf) format(otf);
    font-weight: 900;
}

@font-face {
    font-family: "Righteous";
    src: url(../font/righteous/Righteous.ttf.woff) format(woff),
        url('Righteous.ttf.svg#Righteous') format('svg'),
        url('Righteous.ttf.eot');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "fs", sans-serif;
    font-weight: 300;
}

em {
    font-family: "fs", sans-serif;
    font-style: italic;
}

strong {
    font-family: "fs", sans-serif;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Righteous";
}


/* setting paddings and margins */
$space-amounts: (1,2,3,4,5);

@each $space in $space-amounts {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }

    .p-#{$space} {
        padding: #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}

a {
    text-decoration: none;
    &:active,
    &:visited,
    &:link {
        color: $black;
    }
    @media (hover:hover) {
        &:hover {
            color: darken($beige, 30)
        }
    }
}


/* Responsive setup for main page (not other pages) */
/* Small-sized screens */
@media only screen and (max-width: 479px) {
    html {
        background: url(../../img/trianglify-lowres.png) center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: transparentize($white-transparent, 0.9);
        $base-font-size: 16px;
        body {
            font-size: $base-font-size;
            .nav-bar {
                /*min-height: fit-content; max-height: fit-content;*/
                min-width: fit-content; max-width: fit-content;
                border-radius: 50%;
                padding: 12px 12px;
                margin: 5px;
                top: 10px;
            }    
            .header {
                .bg-home {
                   &::before {
                        background-image: url(../img/tall-pad.svg);
                        transform: rotateX(180deg);
                    }
                    .bg-text {
                        display: flex;
                        padding: 1rem;
                        -webkit-padding: 1rem;
                        flex-direction: column;
                        -ms-flex-direction: column;
                        justify-content: space-around;
                        br {
                            display: none;
                        }
                        strong {
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
}

/* smaller screens (default) */
@media only screen and (min-width: 480px) and (max-width: 690px) {
    html {
        background: url(../../img/leaf-700.svg) center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: transparentize($white-transparent, 0.58);            
        background-blend-mode: overlay;

        $base-font-size: 18px;
        body {
            font-size: $base-font-size;
            .nav-bar {
                /*min-height: fit-content; max-height: fit-content;*/
                min-width: fit-content; max-width: fit-content;
                border-radius: 50%;
                padding: 11px 11px;
                margin: 5px;
                top: 10px;
            }
    
            .header {
                .bg-home {
                    height: 100vh;
                   &::before {
                        background-image: url(../img/tall-pad.svg);
                        transform: rotateX(180deg);
                    }
                .bg-text {
                    font-size: calc($base-font-size + 0.2rem);
                    min-width: 25vw;
                    strong {
                        font-size: calc($base-font-size + 0.5rem);
                    }
                }
                }
                .article {
                    p {
                        max-width: 90%;
                        margin: auto;
                    }
                }
            }
        }
    }
}

/* medium-sized screens (default) */
@media only screen and 
(min-width: 691px) and (max-width: 900px) {
    html {
        background: url(../../img/leaf-circle-900.svg) center center fixed; 
        background-color: transparentize($white-transparent, 0.58);            
        background-blend-mode: overlay;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        $base-font-size: 20px;
        body {
            font-size: $base-font-size;        
            .nav-bar {
                min-height: 60px;
                padding-top: 18px;
                padding-bottom: 18px;
                display: flex;
                align-self: center;
                align-items: center;
                
                .nav-bar_right {
                    h3 {
                        top: 20px;
                    }
                }
            }
    
            .header {
                .bg-home {
                    height: 100vh;
    
                .bg-text {
                    width: 120px;
                    .bg-text--title {
                        font-size: calc($base-font-size + 2rem);
                    }
                    strong {
                        font-size: calc($base-font-size + 0.8rem);
                    }
                }
            }
            }
            .article {
                  max-width: 100%;
                  .title {
                    min-width: 12vw;
                    max-width: min-content;
                    word-wrap: break-word;
                    padding-right: 1rem;
                  }
                  p {
                    max-width: 75%;
                    margin: auto;
                  }
            }
        }
    }
    
}
/* big-sized screens (default) */
@media only screen and (min-width: 901px) {
    html {
        background: url(../../img/leaf-circle-1200.svg) center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: transparentize($white-transparent, 0.58);            
        background-blend-mode: overlay;
        $base-font-size: 20px;
        body {
            font-size: $base-font-size;
            
            .header {
                .bg-home {
                    &::before {
                        background-image: url(../img/colorful-pad.svg);
                    }
    
                    .bg-text {
                        .bg-text--title {
                            font-size: calc($base-font-size + 2.5rem);
                        }
                        strong {
                            font-size: calc($base-font-size + 1rem);
                        }
                    }
                }
            }
            .article {
                max-width: 100%;
            .article-section {
                display: flex;
                flex-basis: 100%;
                justify-content: space-between;
                align-items: center;
                .title {
                    min-width: 12vw;
                    max-width: min-content;
                    padding-right: 1rem;
                }
                p {
                    width: 65%;
                    padding-left: 3vw;
                    padding-right: 5vw;
                }
            }
            }
        }
    }

}