/* This is the homepage */

.header { /* background + text */

    /* background image */
    .bg-home {
        @include bg-photo;
        align-items: center;
        justify-content: center;

        /* so that the opacity does not imapct the text */
        &::before {
            @include bg-text;
            background-image: url(../img/bg-about-me-medium.svg);
            background-repeat: no-repeat;
            opacity: 1;
        }

    }
    
    /* text displayed on background */
    .bg-text {
        /* find the @mixin in the setup */
        @include window;
        background-color: $text-black;
        border: 5px solid darken($text-white, 10);
        border-radius: 25px;    
        
        color: darken($text-white, 10);

        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: space-around;
        /*display: inline-block;*/
        /*backdrop-filter: blur(10px);*/
        padding: 1rem;
        -webkit-padding: 1rem;
        position: absolute;
        min-width: fit-content;
        min-height: fit-content;
        left: auto;
        right: auto;
        top: auto;
        text-align: center;
        text-shadow: none;
        white-space: nowrap;
        
        .bg-text--title {
            letter-spacing: 0.02em;
            margin: 2px 5px;
        }
    }
}

