html {
    body {
        .nav-bar {
            .sandwich {
                ul {
                    .b {
                        img {
                            background-image: radial-gradient($text-white, $pale-yellow);
                            border: $yellow;
                        }
                    }
                }
            }
        }
        /* background */
        .bg-about-me-home {
            /* wrapper for article */
            article {
                position: relative;
                top: 10vh;
                z-index: 0.9;
                /* Look for the brief selector for changing the width of the first part in the About Me page */
                .brief {
                    line-height: 2rem;
                    .title {
                        @include window;
                        @include tag;
                        color: $text-black;
                        img {
                            @include subhead-icon;
                            border-color: $yellow;
                            padding: 5px;
                        }
                    }
                }
                .article-section--ext {
                @include activity-par;
                margin-top: 5rem;
                &:first-child {
                    margin-top: 1rem;
                }
                    .chapter-tag {
                        @include window;
                        @include tag;
                        max-width: 40%;
                    }
                    img {
                        @include subhead-icon;
                        border-color: $blue;
                    }
                }
            }
        }
    }
    /* Setting up different backgrounds, depending on responsiveness (default for small screens) */
    @media only screen and (max-width: 660px) {
        body {
            .bg-about-me-home {
                article {
                    .brief {
                        width: 90%;
                        margin: auto;   
                    }    
                }
            }   
        }
    }
    
    /* medium-sized screens (default) */
    @media only screen and (min-width: 661px) and (max-width: 900px) {
        body {
            .bg-about-me-home {
                .brief {
                    width: 80%;
                    margin: auto;
                }
            }
        }
    }
    
    /* large-sized screens */
    @media only screen and (min-width: 901px) {
        body {
            .bg-about-me-home {
                min-height: fit-content;
                .brief {
                    p {
                        max-width: 70%;
                        margin: auto;
                    }
                }
            }
        }
    }    
}